body {
    display: grid;
    grid-template-rows: 1f 10f 1f;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
        "entete entete  entete"
        "menu   main    contact"
        "bas    bas     bas";
}

.conteneur {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    gap: 35px;
 
}

.lien {
    display: flex;
    flex-direction: column;

    padding: 10px;
    grid-area: menu;
    background-color: lightgrey;
    border-right: 1px solid black;

    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;

}

.lien li{
    list-style: none;
    padding: 10px;

}

.lien a:hover{
    transition: color 0.2s ease-out;
    color: rgb(156, 156, 156);
}
.lien a{
    color: grey;
    margin: 20px;
}


.amis a{
    color: grey;
    margin: 20px;
}

.amis a:hover{
    transition: color 0.2s ease-out;
    color: rgb(156, 156, 156);
}

.amis li{
    list-style: none;
    color: grey;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.amis li img {
    width: 30px;
    height: 30px;
}

.convo h3 {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 20px;

}

h2{
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 20px;
}

.convo {
    display: flex;
    flex-direction: column;

    grid-area: contact;
    background-color: lightgrey;
    border-left: 1px solid rgb(95, 151, 255);

    font-size: 30px;
}

header img {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
}

/* TEMPLATE */
header {
    background-color: rgb(109, 165, 255);
    grid-area: entete;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    background-color: white;
    grid-area: main;
}

footer {
    background-color: rgb(86, 145, 234);
    grid-area: bas;
}


/*settings*/

.settings-container {
    position: relative;
}

.settings-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.settings-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.setting {
    margin-bottom: 10px;
}

.setting label {
    margin-right: 10px;
}

.setting input[type="checkbox"] {
    margin-right: 10px;
}

.setting a {
    text-decoration: none;
    color: #007bff;
}

.setting a:hover {
    text-decoration: underline;
}
.parametres {
    width: 20px; /* Largeur de l'icône */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    margin-right: 5px; /* Marge à droite pour l'espace entre le logo et le texte "Paramètres" */
}
.dark-mode {
    background-color: #3c3333;
    color: #fff;
}
.utilisateur, .lune, .mdp, .notification, .publication, .ami, .historique, .paiement{
    width: 20px; /* Largeur de l'icône */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    margin-right: 5px; /* Marge à droite pour l'espace entre le logo et le texte "Paramètres" */
}

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Couleur de fond du conteneur principal */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
